body {
  background-color: black !important;
}

.myBG {
  height: 100vh;
  background: url("../src/components/assets/images/landingBackground.png");
  background-size: cover;
}

.bg-orens {
  background-color: #ee4622 !important;
}
.w-category {
  width: 200px;
  height: 80px !important;
}
.color-orens {
  color: #ee4622;
}

.bg-card {
  background-color: #3a3a3a !important;
}
.text-brown {
  color: #433434;
}
.bcategory {
  width: 260px !important;
}
.w-list {
  width: 400px;
}
.bg-admin {
  background-color: rgb(65, 65, 65) !important;
}
input {
  background-color: #3a3a3a !important;
  color: white !important;
}
option {
  color: white;
  padding: 10px !important ;
}
.stmodal {
  opacity: 0.5 !important;
  color: blue;
  margin-top: 250px;
}
.putar-kiri {
  -moz-animation: rota-full-left 20s infinite linear;
  -webkit-animation: rota-full-left 20s infinite linear;
}
@-moz-keyframes rota-full-left {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes rota-full-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
